.banner {
  &__wrapper {
    display: flex;
    min-height: 40rem;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 1rem;
  }

  &__text {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  &__name {
    font-size: var(--big-text);
  }

  &__role {
    color: var(--accent-color-bright);
    font-size: var(--huge-text);
    font-weight: 700;
  }
}

.photo {
  display: flex;
  overflow: hidden;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  &__wrapper {
    position: relative;
    border-radius: 50%;
    outline: 0.45rem solid var(--accent-color-bright);
  }

  &__image {
    display: flex;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.45rem solid var(--accent-color-bright);
    border-radius: 50%;
    border-right-color: transparent;
    border-left-color: transparent;
    margin: -0.45rem;
    animation: rotation 8s linear infinite;
    content: '';
  }
}

@keyframes rotation {
  0% {
    transform: scale(1.05) rotate(0deg);
  }

  25% {
    transform: scale(1.05) rotate(90deg);
  }

  50% {
    transform: scale(1.05) rotate(180deg);
  }

  75% {
    transform: scale(1.05) rotate((270deg));
  }

  100% {
    transform: scale(1.05) rotate(360deg);
  }
}

@media (width <= 1400px) {
  .banner {
    &__wrapper {
      min-height: 30rem;
      padding: 7rem 1rem;
    }
  }

  .photo {
    padding: 1rem;

    &__wrapper {
      outline: 0.35rem solid var(--accent-color-bright);
    }

    &__wrapper::after {
      border: 0.35rem solid var(--accent-color-bright);
      border-right-color: transparent;
      border-left-color: transparent;
      margin: -0.35rem;
    }

    &__image {
      width: 20rem;
      height: 20rem;
    }
  }
}

@media (width <= 997.7px) {
  .banner {
    &__wrapper {
      min-height: 25rem;
      padding: 4rem 1rem;
    }
  }

  .photo {
    padding: 1rem;

    &__wrapper {
      outline: 0.25rem solid var(--accent-color-bright);
    }

    &__wrapper::after {
      border: 0.25rem solid var(--accent-color-bright);
      border-right-color: transparent;
      border-left-color: transparent;
      margin: -0.25rem;
    }

    &__image {
      width: 17rem;
      height: 17rem;
    }
  }
}
