* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: linear-gradient(90deg, var(--bg-grad-one) 5.15%, var(--bg-grad-two) 89.49%);
  font-family: Inter, sans-serif;;
}

.width-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}