* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background: linear-gradient(90deg, var(--bg-grad-one) 5.15%, var(--bg-grad-two) 89.49%);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
}

.width-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.section-title {
  margin: 0 0 2rem;
  color: var(--accent-color-bright);
  font-size: var(--huge-text);
}

@media (width <= 1400px) {
  .width-wrapper {
    max-width: 990px;
  }
}

@media (width <= 997.7px) {
  .width-wrapper {
    max-width: 700px;
  }
}