body[data-theme="dark"] {
  --bg-grad-one: #2A2D32;
  --bg-grad-two: #131313;
  --text-primary: #FFF;
  --accent-color: #005696;
}

body[data-theme="light"] {
  --bg-grad-one: #E9EAF0;
  --bg-grad-two: #E9EAF0;
  --text-primary: #4F4F4F;
  --accent-color: #005696;
}